@media  (max-width: 500px){
    .box-weather-app{
        width: 350px !important;
        height: 380px !important;
    }
    .parte_cidade{
        padding: 0px 0px;
        height: 100px;
    }
    .box_city input{
        width: 70%;
        font-size: 12px;
    }

    #bx-cloud-sun{
        font-size: 150px;
        opacity: 5%;
    }
}